.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  gap: 20px;
}

.recipe-time {
  font-size: 12px;
  text-align: right;
}

.recipe-card h3 {
  font-size: 20px;
}
